.principal-container {
  display: flex;
  background-color: var(--very-light-grayish-blue);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-repeat: no-repeat;
  background-position: 175px -50px;
}

@media (width > 375px){
  .principal-container {
    height: 100vh;
  }
}