.principal-container {
  display: flex;
  background-color: var(--very-light-grayish-blue);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

@media (width > 375px){
  .principal-container {
    height: 100vh;
  }

  .principal-container main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
}